<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Insertion d'un Bloc</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}" />
</head>
<body>

<!-- Include the navbar component here -->
<header th:include="fragments/navbar"></header>

<main class="container my-4">
    <h1 class="text-center">Import CSV</h1>

    <form th:action="@{/csv}" method="post" enctype="multipart/form-data">

        <div class="mb-3">
            <label class="form-label" for="file">Choisissez un fichier CSV :</label>
            <input class="form-control" type="file" name="file" id="file" required/>
        </div>

        <button class="btn btn-primary mt-3" type="submit">Importer</button>
    </form>
</main>

</body>
</html>
