<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Transformation Form</title>
</head>
<body>

<h2>Transformation de bloc</h2>

<form th:action="@{/transformation}" th:object="${transformationForm}" method="post">
    <label for="blocOrigine">Bloc d'origine:</label>
    <select th:field="*{idBloc}" id="blocOrigine" required>
        <option value="" disabled selected>Choisissez un bloc</option>
        <option th:each="bloc : ${blocs}" th:value="${bloc.id}" th:text="${bloc.produit.nomProduit}"></option>
    </select><br>
    <div th:if="${#fields.hasErrors('idBloc')}" th:errors="*{idBloc}"></div>

    <!-- Champs des dimensions du reste -->
    <label for="longueurReste">Longueur du Reste:</label>
    <input type="number" min="0" step="0.01" th:field="*{longueurReste}" id="longueurReste" /><br/>
    <div th:if="${#fields.hasErrors('longueurReste')}" th:errors="*{longueurReste}"></div>

    <label for="largeurReste">Largeur du Reste:</label>
    <input type="number" min="0" step="0.01" th:field="*{largeurReste}" id="largeurReste" /><br/>
    <div th:if="${#fields.hasErrors('largeurReste')}" th:errors="*{largeurReste}"></div>

    <label for="hauteurReste">Hauteur du Reste:</label>
    <input type="number" min="0" step="0.01" th:field="*{hauteurReste}" id="hauteurReste" /><br/>
    <div th:if="${#fields.hasErrors('hauteurReste')}" th:errors="*{hauteurReste}"></div>

    <!-- Quantities for each usual form -->
    <div th:each="formQuantity, stat : *{usualFormsQuantities}">
        <label th:for="${formQuantity.formName}">Quantité pour <span th:text="${formQuantity.formName}">Form</span>:</label>
        <input type="number" min="0" th:field="*{usualFormsQuantities[__${stat.index}__].quantity}" th:id="${formQuantity.formName}"/><br/>
        <input type="hidden" th:field="*{usualFormsQuantities[__${stat.index}__].idFormeUsuelle}">
        <input type="hidden" th:field="*{usualFormsQuantities[__${stat.index}__].formName}">
    </div>
    <div th:if="${#fields.hasErrors('usualFormsQuantities')}" th:errors="*{usualFormsQuantities}"></div>

    <button type="submit">Soumettre</button>
</form>

</body>
</html>
